/* Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* Variables */
:root {
	--custom-white: hsl(0, 0%, 100%);
	--custom-lightgray: hsl(212, 45%, 89%);
	--custom-grayblue: hsl(219, 15%, 55%);
	--custom-darkblue: hsl(218, 44%, 22%);
	--max-width: 350px;
}

/* Reset/Base Styles */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Outfit', sans-serif;
	font-size: 15px;
	background: var(--custom-lightgray);
	line-height: 1.3;
	/* Center all content on page */
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

a {
	text-decoration: none;
}

/* QR Code Card */
.qr-card {
	/* Set a max width for responsiveness */
	width: 90%;
	max-width: var(--max-width);
	margin: 0 auto;
	margin-bottom: 2rem;
	padding: 1rem;
	background: var(--custom-white);
	border-radius: 20px;
	box-shadow: 0 10px 20px hsla(219, 15%, 55%, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.qr-img {
	max-width: 100%;
	height: auto;
}

.qr-caption {
	padding: 1rem;
}

.qr-heading {
	font-weight: 700;
	color: var(--custom-darkblue);
	margin: 1rem 0;
}

.qr-desc {
	color: var(--custom-grayblue);
	margin: 0.5rem 0;
}

/* Attribution */
.attribution {
	font-size: 0.8rem;
}

.attribution a {
	color: var(--custom-darkblue);
	transition: color 0.3s ease;
}

.attribution a:hover {
	color: var(--custom-grayblue);
}
